.AppWrap {
  background-color: rgb(84, 14, 12);
}

.App {
  min-height: 100vh;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, .2));
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .2) inset;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: .5rem .75rem;
  margin: 0 .25rem;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
  transition: .2s all ease-in-out;
  cursor: pointer;
  color: white;
  background-color: rgb(84, 14, 12);
  border-radius: 5px;
  border: 3px solid rgb(84, 14, 12);
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button:hover {
  border: 3px solid rgb(84, 14, 12);
  background-color: rgb(255, 253, 250);
  color: rgb(84, 14, 12);
  box-shadow: 1px 1px 12px rgba(0, 0, 0, .2);
}

button:active {
  background-color: black;
  border: 3px solid black;
  color: white;
  transform: scale(.8);
}

input {
  padding: .75rem 1.5rem;
  width: 50%;
  text-align: center;
  margin: .5rem 0;
  border: none;
  border-bottom: 1px solid rgb(84, 14, 12);
  outline: none;
}

a {
  color: rgb(84, 14, 12);
  text-decoration: none;
  margin: -.5rem 0 1.5rem 0;
  transition: .2s all ease-in-out;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:active {
  color: rgba(0, 0, 0, 0);
}